#body{
    background-color: chocolate;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#img{
    max-width: 1200;
    height: 900;
}